body {
	margin:0;
	padding:0;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	background:#a7a7a7 url('/_gfx/bg-body.png') repeat-y top center;
}

#header {
	height:130px;
	background:#000 url('/_gfx/bg-header.png') repeat-x top center;
}

#header .logo {
	float:left;
	margin-top:45px;
}

#header .logo img {
	border:0;
}

#header h1 {
	font-size:18px;
	color:#666;
	font-weight:normal;
	margin:65px 0 0;
	padding-left:5px;
}

#header .right {
	float:right;
}

.container {
	width:960px;
	margin:0 auto;
	/*border-left:1px solid #333;border-right:1px solid #333;*/
}

#content {
	padding:0px 15px;
	padding-bottom:20px;
}

#footer {
	color:#555;
	text-align:center;
	margin-top:50px;
	padding:20px;
	background:transparent url('/_gfx/bg-footer.png') repeat-x;
}

a {
	color:#cd3e40;
}

#footer a {
	color:#cd3e40;
}

.clear {
	clear:both;
}

#nav ul{
	margin:0px;
	padding:0px;
	text-align:right;
	list-style-type: none;
	list-style-image: none;
}

#nav li{font:bold 11px;display:block;float:left;color:#fff;margin:0 6px 0 0;padding:0;}
#nav li a{display:block;float:left;color:#ccc;border:0;padding:5px;text-decoration:none;}
#nav li a:hover{background-color:#333;color:#fff;}

h2 {
	font-size:18px;
}

h3 {
	font-size:14px;
	padding-bottom:3px;
	margin-bottom:10px;
	border-bottom:1px solid #999;
	text-shadow: rgba(0, 0, 0, 0.14) 1px 1px 1px;
}

#police-report {
	width:117px;
	height:78px;
	background:transparent url('/_gfx/btn-file-report.png') no-repeat;
	overflow:hidden;
}

#police-report a {
	display:block;
	width:117px;
	height:78px;
	text-indent:-9999px;
}

#active-devices {
	background:#fff url('/_gfx/bg-activeDevices.png') no-repeat;
	height:78px;
	width:78px;
	position:relative;
}

#active-devices p {
	padding:0;
	margin:0;
	font-size:24px;
	font-weight:bold;
	color:#cd3e40;
	text-align:center;
	line-height: 40px;
	padding-top:5px;
}

.devices {
	margin-bottom:30px;
}

#map_canvas {
	border:1px solid #666;
}

.ui-button-text {
	text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;
}

.ui-button {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

/******************************************************************************/

table.tabledata {
	border-collapse:collapse;
	margin:0;
	width:100%;
}

table.tabledata tr.row-even {
	background-color:#f8f8f8;
}

table.tabledata tbody tr.row-over {
	background-color:#ccc;
	color:#fff !important;
}

table.tabledata tr.tracking-active {
	color:#cd3e40 !important;
	font-weight:bold;
}


table.tabledata tr.tracking-active a.tracking-link {
	border:1px solid #999;
	background: #ccc;
}

.tabledata th {
	text-align:left;
	background: url('/_style/custom-theme2/images/ui-bg_highlight-soft_75_red_1x100.png') 50% 50% repeat-x rgb(205, 62, 64);
	color:#fff;
	padding:10px 3px;

}

.tabledata td {
	margin:0px;
	padding:4px 3px;
	border: 1px solid  #f0f0f0;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
}

.tabledata td.icon{
	width:21px;
	text-align:center;
}

/******************************************************************************/

table.deviceDetails {
	border-collapse:collapse;
	margin:0;
	width:400px;
}

table.deviceDetails tr.row-even {
	background-color:#f8f8f8;
}

table.deviceDetails tbody tr.row-over {
	background-color:#aaa;
	color:#000 !important;
	background: url(/_gfx/diag.png) repeat-x top;
}

table.deviceDetails tr.tracking-active {
	color:#f50 !important;
	font-weight:bold;
}

.deviceDetails th {
	text-align:left;
	background-color:#fafafa;
	padding:5px 5px;
	border: 1px solid  #ccc;
}

.deviceDetails td {
	margin:0px;
	padding:5px;
	border: 1px solid  #ccc;
}

.ipDetails {
	width:100% !important;
}

.ipDetails th {
	vertical-align: top;
}

/******************************************************************************/

#detailsTable {
	float:left;
	margin-right:20px;
}

#deviceActions {
	float:left;
	margin-right:20px;
}

#deviceActions a {
	width:140px;
	margin-bottom:6px;
}

#deviceTable {
	float:left;
}

#trackingMap {
	width:100%;
}

#trackingMap iframe {
	width:100%;
	padding:0;
	margin:0;
	border:1px solid #ccc;
	height:400px;
}

#map_canvas_details {
	height:400px;
	width: 882px;
	overflow:hidden;
	border:1px solid #666;

}

/******************************************************************************/

#dash-devices .tracking-link {
	width:148px;
}


.tracking-link .ui-button-text {
	white-space: nowrap;
}

.active .ui-button-text {
	font-weight:bold;
	color:#cd3e40;
}

/******************************************************************************/

ul#utils-menu {
	list-style:none;
	padding:0;
	float:right;
	margin:0;
}

ul#utils-menu li {
	margin:0;
	float:left;
	margin:0 0 0 4px;
	font-size:12px;
}

/******************************************************************************/

.formTable th {
	text-align:right;
}

.formTable th, .formTable td {
	padding:3px;
}

.formTable span.error {
	color:#f00;
	font-weight:bold;
}

/******************************************************************************/

.gmap-message {
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif;
	display:block;
	width:882px;
	left: -50%;
	top: -30px;
	line-height:60px;
	opacity: 0.8;
	position:relative;
	border:1px solid #000;
	text-align:center;
	background-color:#000;
	color:#fff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.gmap-label {
	font-size:11px;
	font-family:Helvetica, Arial, sans-serif;
	display:inline-block;
	margin-top:6px;
	position: relative;
	left: -50%;
	top: -8px;
	white-space: nowrap;
	border: 1px solid black;
	padding: 2px;
	background-color: #fff;
	color:#000;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.gmap-label-hover {
	background-color: #000 !important;
	color:#fff !important;
	cursor: pointer;
}

/******************************************************************************/

ul.buttonSet {
	list-style:none;
	padding:0;
	margin:0;
}

ul.buttonSet li {
	float:left;

}

.subMenuButton {
	margin-left:-2px;
	position:relative;
}

.subMenuButton li a.deviceMenu {

}

.subMenuButton ul {
	width:131px;
	height:91px;
	display:none;
	position:absolute;
	top:-1px;
	left:-1px;
	margin:0;
	padding:12px 0 12px 44px;
	z-index:100;
background: transparent url('/_gfx/bg-device-menu.png') no-repeat;
list-style:none;
	/*
	background-color:#fff;
	border:1px solid #ccc;
	

	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	*/
}

.subMenuButton ul li {
	display:block;
	float:none;
	width:79px;
	margin:0;
	padding:0;
}

.subMenuButton ul li a {
	white-space:nowrap;
	display:block;
}

.subMenuButton ul li a.editDevice {
	border-top:0;
	border-bottom:0;
}

#dialog-confirm p {
	margin:8px;
	padding:0;
}

.pagingControls {
	background-color:#f0f0f0;
	border:1px solid #ccc;
	margin-top:16px;
}

.pagingControls span {
	display:inline-block;
	padding:3px 20px;
	line-height:26px;
}

.tracking-status-icon {
	width:140px;
	height:140px;
	background:transparent url('/_gfx/tracking-status.png') no-repeat bottom;
	margin-bottom:20px;
}


.tracking-status-icon.tracking-active{
	background-position: top !important;
}

.jtooltip {
	display:none;
	background:transparent url(/_gfx/black_arrow.png);
	font-size:12px;
	height:80px;
	width:170px;
	padding:20px;
	color:#fff;
	z-index:6000;
}

.tooltip {
	display:none;
	background-color:#000;
	font-size:12px;
	width:170px;
	padding:20px;
	color:#fff;
	z-index:6000;
	border:3px solid #fff;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

ul.qform {
	list-style:none;
	margin:0;
	padding:0;
}

ul.qform li {
	padding:0;
	margin:3px 0 8px;

}

ul.qform li label {
	display:inline-block;
	margin-right:10px;
	width:150px;
	text-align: right;
}

ul.qform fieldset.hidden {
	border:0;
	padding:0;
	margin:0;
}

input[type=text], input[type=password], input.text, input.title, textarea, select {
    background-color:#f8f8f8;
    border:1px solid #ddd;
    padding:4px;outline:none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width:200px;
  -webkit-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.13);
}

input[type=text]:hover, input[type=password]:hover, input.text:hover, input.title:hover, textarea:hover, select:hover {
    border-color:#777;
    background-color:#f0f0f0
}

input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {
    border-color:#333;
}

.notification {
	font-weight: bold;
	color: #fff;
	font-size:13px;
	padding:20px;
	border:1px solid #f00;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	margin:20px 0;
	background-color:rgb(205, 62, 64);
}

.notification a {
	color:#ee0 !important;
}

.warning {
	font-weight:bold;
	color:#666;
	margin:22px 4px 10px;
	padding-top:10px;
	border-top:1px solid #ccc;
	line-height: 18px;
}

.warning em {
	color:#fff;
	background-color:#f00;
	padding:0 2px;
	display:inline-block;
	font-style: normal;
}

.services-link .ui-button-text {
	font-size:14px !important;
}

.dialog-message {
	font-weight:bold;
	font-size:13px;
	padding-bottom:12px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color:#f0f0f0;
	padding:10px;
}

#expiredLicenseAlert {
	display:inline-block;
	background:transparent url('/_gfx/btn-ExpiredLicenseNotice.png') no-repeat 4px;
	width:295px;
	height:78px;
	margin-right:4px;
	text-indent:-9999px;
}


.btn-red40 {
	display:inline-block;
	padding:0 0 0 16px;
	background:transparent url('/_gfx/btn-red40.png') no-repeat left top;
	line-height:40px;
	height:40px;
	color:#fff;
	font-size:13px;
	font-weight:bold;
	text-shadow: rgba(0, 0, 0, 0.64) -1px -1px 1px;
}

.btn-red40 span {
	display:inline-block;
	padding:0 16px 0 0;
	background:transparent url('/_gfx/btn-red40.png') no-repeat right -40px;
	line-height:40px;
	height:40px;
}

.btn-red40:hover {
	background-position: left -80px;
	color:#eee;
}

.btn-red40:hover span {
	background-position: right -120px;
}

.btn-red40:active {
	background-position: left -160px;
	color:#eee;
}

.btn-red40:active span {
	background-position: right -200px;
}

.btn-red30 {
	display:inline-block;
	padding:0 0 0 16px;
	background:transparent url('/_gfx/btn-red30.png') no-repeat left top;
	line-height:30px;
	height:30px;
	color:#fff !important;
	
	text-shadow: rgba(0, 0, 0, 0.64) -1px -1px 1px;
}

.btn-red30 span {
	display:inline-block;
	padding:0 16px 0 0;
	background:transparent url('/_gfx/btn-red30.png') no-repeat right -30px;
	line-height:30px;
	height:30px;
}

.btn-red30:hover {
	background-position: left -60px;
	color:#eee;
}

.btn-red30:hover span {
	background-position: right -90px;
}

.btn-red30:active {
	background-position: left -120px;
	color:#eee;
}

.btn-red30:active span {
	background-position: right -150px;
}

#expiredLicenses td {
	padding:8px;
}

#trialForm h2 {
	margin-bottom:30px;
}

.user-forms form {
	padding:20px;
	border:1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.user-forms label {
	display:block !important;
	text-align:left !important;
	width:auto !important;
	margin-bottom:4px;
}

.user-forms input[type=submit], .user-forms button {
	border:1px solid #ccc;
	background-color:#f0f0f0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding:8px;
	margin-top:16px;
	min-width:100px;
	background:-moz-linear-gradient(top, #F9F9F9 0%, #DDDDDD 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#DDDDDD));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#DDDDDD',GradientType=0 );
	text-align:center;
	font-size:14px;
	text-shadow: rgba(255, 255, 255, 0.95) 1px 1px 1px;
	font-family:inherit;
}

.user-forms input[type=submit]:hover, .user-forms button:hover {
	border:1px solid #777;
	background:-moz-linear-gradient(top, #f0f0f0 0%, #CCCCCC 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#CCCCCC));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#CCCCCC',GradientType=0 );
}

.user-forms input[type=submit]:active, .user-forms button:active {
	border:1px solid #777;
	background:-moz-linear-gradient(top, #f0f0f0 100%, #CCCCCC 0%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(100%,#f0f0f0), color-stop(0%,#CCCCCC));
	filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#f0f0f0', startColorstr='#CCCCCC',GradientType=0 );
}

.user-forms li {
	margin-bottom:16px !important;
}

.user-forms input[type=text], .user-forms input[type=password], .user-forms input.text, .user-forms input.title, .user-forms textarea, .user-forms select {
	font-size:14px;
}

.user-forms span[style="color: #ff0000"] {
	display:none;
}

/* for ffux */
.user-forms span[style*="color: rgb(255, 0, 0)"] {
	display:none;
}

p.error2  {
	background:#f6f6f6 url('/_gfx/icon-warning.png') no-repeat 10px center;
	display:inline-block;
	padding:20px 20px 20px 40px;
	margin:0 0 30px 0;
	font-weight: bold;
	color:#f00;
	border:1px solid #ccc;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

p.error  {
	background:#f6f6f6 url('/_gfx/icon-warning.png') no-repeat 10px center;
	padding:20px 20px 20px 40px;
	margin:0 0 30px 0;
	font-weight: bold;
	color:#f00;
	border:1px solid #ccc;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	max-width:400px;
}

.form-switch {
	margin:0 0 20px;
}

#trialForm ul li:nth-child(5) label {
	display:inline !important;
	margin-left:4px;
}

#trialForm ul li:nth-child(5) label:first-child {
	display:none !important;
}

#registerForm ul li:nth-child(5) label {
	display:inline !important;
}

#registerForm ul li:nth-child(5) label:first-child {
	display:none !important;
}

