/* CSS Document */

body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#a7a7a7 url(/_gfx/bg-body.png) repeat-y center top;
}

label, b{font:normal 12px;}
p, li{color:#333;font:normal 13px/16px;}
h2{color:#900;font:normal 22px;}
a{color:#c00;}
a img{border-bottom:none;}

#header {
	height:130px;
	background:#000 url(/_gfx/bg-header.png) repeat-x center top;
}

#header .logo {
	float:left;
	margin-top:45px;
}

#header .logo img {
	border:0;
}

#header h1 {
	font-size:18px;
	color:#666;
	font-weight:normal;
	margin:65px 0 0;
	padding-left:5px;
}

#header .right {
	float:right;
}

.container {
	width:960px; 
	margin:0 auto;
	/*border-left:1px solid #333;border-right:1px solid #333;*/
}
.regform{width:400px;margin:0 auto;margin-top:20px;}

/*.submit{
	background-color:#ccc;
	color:#000;
	border:1px solid #666;
	margin:0 auto;
	cursor: default; 
  }
 */

#cookieCrumbs, #tools {
	margin:10px 0 20px;
	font-size:13px;
}

#subnav {
	margin:0 0 40px;
}

.icon-link {
	display:inline-block;
	padding-left:20px;
	font-size:13px;
	min-height:16px;
}

.icon-link-add {
	background: url(/_gfx/add.png) no-repeat left center;
	padding-left:17px;
}

.icon-link-pdf {
	background: url(/_gfx/pdf.gif) no-repeat left center;
	padding-left:17px;
}

.icon-link-edit {
	background: url(/_gfx/edit.png) no-repeat left center;
	padding-left:17px;
}

span.total-active-devices {
	font-weight:bold;
	font-size:13px;
	color:#fa0;
}

h3 a {
	font-size:12px;
	font-weight:normal;
}

h3 {
	padding-bottom:3px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}

.btn-link {
	display:inline-block;
	padding-left:12px;
	background:transparent url('/_gfx/bg-btn.png') no-repeat left top;
	color:#fff;
}

.btn-link span {
	display:inline-block;
	padding-right:12px;
	background:transparent url('/_gfx/bg-btn.png') no-repeat right bottom;
	line-height:36px;
}

.ibtn {
	display:inline-block;
	padding-left:39px;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}

.ibtn span {
	display:inline-block;
	padding-right:12px;
	background:transparent url('/_gfx/ibtn-right.png') no-repeat right bottom;
	line-height:33px;
}

.ibtn-label {
	background:transparent url('/_gfx/ibtn-label.png') no-repeat left top;
}

.ibtn-usb {
	background:transparent url('/_gfx/ibtn-usb.png') no-repeat left top;
}

.ibtn-iphone {
	background:transparent url('/_gfx/ibtn-iphone.png') no-repeat left top;
}

.ibtn-laptop {
	background:transparent url('/_gfx/ibtn-laptop.png') no-repeat left top;
}

.ibtn-gear {
	background:transparent url('/_gfx/ibtn-gear.png') no-repeat left top;
}

/*#nav{
	position:absolute;top:72px;left:auto;z-index:1000;height:30px;
	
}*/

#nav ul{
	margin:0px;
	padding:0px;
	text-align:right;
	list-style-type: none;
	list-style-image: none;
}
#nav li{font:bold 11px;display:block;float:left;color:#fff;margin:0 6px 0 0;padding:0;}
#nav li a{display:block;float:left;color:#ccc;border:0;padding:5px;text-decoration:none;}
#nav li a:hover{background-color:#333;color:#fff;}
h1.nh {
	height: 73px;
	background: url("/_gfx/bg_header.png") repeat-x;
	margin:0;padding:0;
}

h1.nh img {
	border:0;
}

h1#header,h1#header_hm {
 width: 750px;
 height: 72px;
 position: relative;
 margin:0;padding:0;
}
h1#header,h1#header_hm  a {
 position: relative;
 width: 750px;
 height: 72px;
 margin:0;padding:0;
 text-decoration:none;
 font-size:11px;
}
h1#header  a span {
 text-decoration:none;
 position: absolute;
 top: 0px;
 left: 0px;
 width: 750px;
 height: 73px;
 background: url("/_gfx/top_logo_banner.png") no-repeat;
 margin:0;padding:0;
 }
 
 h1#header_hm  a span {
 text-decoration:none;
 position: absolute;
 top: 0px;
 left: 0px;
 width: 750px;
 height: 72px;
 background: url("/_gfx/top_logo_banner_hm.png") no-repeat;
 margin:0;padding:0;
 }

 h2#byepod{
 text-indent:-9999px;
 display:block;
 width:750px;height:288px;
 background: url("/_gfx/byepod.png") no-repeat;
 margin:0;padding:0;
 }
 
 
 h4{margin:0px;padding:0px;font:16px bold}
 select{font-size:11px;}

#buttonlink{

border:none;text-indent:-9999px;position:absolute;
top:100px;left:auto;width:725px;height:200px;display:block;z-index:1000;
}
  
ul {
	list-style-image: url(/_gfx/bullet.png);
}
 
 #hmcontent{padding:0px 15px;margin-top:-100px;padding-bottom:20px;}
 #content{padding:0px 15px;padding-bottom:20px;}
 
 p#leadin{width:375px;}
 
 .leftCol,.rightCol{width:300px;float:left;}


#footergrad {
	font-size:11px;
	display:block:width:750px;
	height:59px;
	text-align:center;
	margin-bottom:20px;
}


table.tabledata{
	border-collapse:collapse;
	margin:0;
	width:100%;
}

table.tabledata tr.row-even {
	background-color:#f8f8f8;
}

table.tabledata tbody tr.row-over {
	background-color:#aaa;
	color:#000 !important;
		background: url(/_gfx/diag.png) repeat-x top;

}

table.tabledata tr.tracking-active {
	color:#f50 !important;
	font-weight:bold;
}

.tabledata th{
	text-align:left;
	background-color:#ddd;
	padding:5px 3px;
	border: 1px solid  #ccc;
}

.tabledata td{
	margin:0px;padding:3px;
	border: 1px solid  #ccc;
}