

.container {
	width:320px;
	margin:0 auto;
}

#content {
	padding:10px 20px;
}

.logo {
	margin-left:20px;
}

ul.qform li label {
	font-size:11px;
	font-weight: bold;
	width:auto;
	display:block;
	margin:0 0 4px;
}

ul.qform {
	background-color:#fff;
	margin:0px;
	border:1px solid #ddd;
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
}

ul.qform li {
	padding:8px;
	margin:4px 0;
	border-bottom:1px solid #ddd;

}

ul.qform li:last-child {
	border:none;
}

input[type="text"], input[type="password"], select {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	font-size:20px;
	font-weight:bold;
	color:#385487;
	border:0;
	width:240px;
	background:#f5f5f5;
}

input[type="submit"] {
	width:110px;
	height:42px;
	overflow:hidden;
	font-size:18px;
	font-weight:700;
	text-shadow:rgba(0, 0, 0, 0.6) 0 -1px 0;
	text-align:center;
	white-space:nowrap;
	color:#fff;
	background:none;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #7d88a5), color-stop(0.5, #5877a2), color-stop(0.5, #476999), color-stop(1, #4a6c9b));
	-webkit-border-radius:6px;
	border:1px solid #45505d;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
	margin:0;
	padding:0 5px;
}