body {
	margin:0;
	padding:0;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	background:#a7a7a7 url('/v3/images/bg-body.png') repeat-y top center;
}

#header {
	height:130px;
	background:#000 url('/v3/images/bg-header.png') repeat-x top center;
}

#header .logo {
	float:left;
	margin-top:45px;
}

#header .logo img {
	border:0;
}

#header h1 {
	font-size:18px;
	color:#666;
	font-weight:normal;
	margin:65px 0 0;
	padding-left:5px;
}

#header .right {
	float:right;
}

.container {
	width:700px;
	margin:0 auto;
	/*border-left:1px solid #333;border-right:1px solid #333;*/
}

#content {
	padding:10px 40px;
}

h2 {
	margin:0 0 30px;
	padding:0 0 10px;
	border-bottom:1px solid #ccc;
}

ul.qform {
	list-style:none;
	margin:0;
	padding:0;
}

ul.qform li {
	padding:0;
	margin:3px 0 8px;

}

ul.qform li label {
	display:inline-block;
	margin-right:10px;
	width:150px;
}

ul.qform fieldset.hidden {
	border:0;
	padding:0;
	margin:0;
}

input[type=text], input[type=password], input.text, input.title, textarea, select {
    background-color:#fff;
    border:1px solid #bbb;
    padding:4px;outline:none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width:200px;
}

input[type=text]:hover, input[type=password]:hover, input.text:hover, input.title:hover, textarea:hover, select:hover {
    border-color:#777;
    background-color:#f9f9f9
}

input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {
    border-color:#333;
}

p.error {
	color: red;
	font-weight: bold;
	margin:6px 0;
}

form span[style="color: #ff0000"] {
	display:none;
}