@charset "UTF-8";
/* CSS Document */

body{margin:0;padding:0;font:normal 12px Geneva, Arial, Helvetica, sans-serif;background:#000;}
#header{height:47px;background: #000 url(logo.gif) no-repeat;}
#content{background-color:#fff;padding:10px;margin:10px;-webkit-border-radius:5px;}
h1{font:bold 13px Geneva, Arial, Helvetica, sans-serif;color:#900;}
b{font:normal 12px Geneva, Arial, Helvetica, sans-serif;}
a{color:#900;}
select{ -webkit-border-radius:5px;background:#fff;border:1px solid #900;}