/* CSS Document */


.regform{width:400px;margin:0 auto;margin-top:20px;}
.submit{
	background-color:#ccc;
	color:#000;
	border:1px solid #666;
	margin:0 auto;
	cursor: default; 
  }

a {color:#c00;text-decoration:none;}

/*#nav{
	position:absolute;top:72px;left:auto;z-index:1000;height:30px;
	
}*/

#nav{width:750px;height:26px;background-color:#504b4b}
#nav ul{font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	display:block;
	text-align:right;
	list-style-type: none;
	list-style-image: none;
}
#nav li{font:bold 11px Verdana, Arial, Helvetica, sans-serif;display:block;background-color:#000;float:left;color:#fff;margin:0px;padding:0px;}
#nav li a{font:bold 10px Verdana, Arial, Helvetica, sans-serif;display:block;float:left;background-color:#504b4b;color:#ccc;border:none;padding:5px 12px;}

h1#header,h1#header_hm {
 width: 750px;
 height: 72px;
 position: relative;
 margin:0;padding:0;
}
h1#header,h1#header_hm  a {
 position: relative;
 width: 750px;
 height: 72px;
 margin:0;padding:0;
 text-decoration:none;
 font-size:11px;
}
h1#header  a span {
 text-decoration:none;
 position: absolute;
 top: 0px;
 left: 0px;
 width: 750px;
 height: 73px;
 background: url("/_gfx/top_logo_banner.png") no-repeat;
 margin:0;padding:0;
 }
 
 h1#header_hm  a span {
 text-decoration:none;
 position: absolute;
 top: 0px;
 left: 0px;
 width: 750px;
 height: 72px;
 background: url("/_gfx/top_logo_banner_hm.png") no-repeat;
 margin:0;padding:0;
 }

 h2#byepod{
 text-indent:-9999px;
 display:block;
 width:750px;height:288px;
 background: url("/_gfx/byepod.png") no-repeat;
 margin:0;padding:0;
 }
 
 
 h4{margin:0px;padding:0px;font:16px bold Geneva, Arial, Helvetica, sans-serif}
 select{font-size:11px;}

#buttonlink{

border:none;text-indent:-9999px;position:absolute;
top:100px;left:auto;width:725px;height:200px;display:block;z-index:1000;
}
 
 
ul {
	list-style-image: url(/_gfx/bullet.png);
}
 
 #hmcontent{padding:0px 15px;margin-top:-100px;padding-bottom:20px;}
 #content{padding:0px 15px;padding-bottom:20px;}
 
 p#leadin{width:375px;}
 
 .leftCol,.rightCol{width:300px;float:left;}


#footergrad {
font-size:11px;
display:block:width:750px;
	height:59px;
	background-image: url(/_gfx/footergrad.png);
	background-repeat: no-repeat;
	text-align:center;
}

table.tabledata{border-collapse:collapse}

.tabledata th{
font:bold 12px Arial, Helvetica, sans-serif;text-align:left;
background-color:#ccc;
}
.tabledata td{
font:normal 12px Arial, Helvetica, sans-serif;
margin:0px;padding:3px;
border: 1px solid  #ccc;


}

td.grow{background-color:#ddd; }
th {border-bottom:1px solid #666;}