body {
	margin:30px;
	background-color:#000000;
	width:1920px;
	height:1200px;
	overflow:hidden;
	font-family: Helvetica, Arial, sans-serif;
}

#header {
	margin-bottom:30px;
	width:1860px;
	height:170px;
	background:transparent url('gt-logo.png') no-repeat 0 50%;
}

#main {
}

#left-column {
	width:670px;
	margin-right:30px;
	float:left;
}

#right-column {
	width:1160px;
	float:left;
}

#tweet-container {
	width:670px;
	height:230px;
	margin-bottom:30px;
	background-color:#111;
}

#counter-container {
	width:670px;
	height:370px;
	margin-bottom:30px;
}

#left-graph-container {
	width:670px;
	height:280px;
	background-color:#111;
}

.counter-box {
	float:left;
	width:320px;
	height:170px;
	background-color:#db2232;
}

.counter-box h4 {
	margin:0;
	font-size:18px;
	color:#fff;
	text-align:center;
	padding:0;
	font-weight:normal;
}

.counter-box h5 {
	margin:0;
	font-size:9px;
	color:#fff;
	text-align:center;
	padding:0;
	font-weight:normal;
}

.counter-box p {
	margin:30px 0 10px;
	font-size:60px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	padding:0;
}

#counter-1, #counter-2 {
	margin-bottom:30px;
}

#counter-1, #counter-3 {
	margin-right:30px;
}

#earth-container {
	width:1160px;
	height:630px;
	margin-bottom:30px;
	background-color:#111;
	position:relative;
}

#right-graph-container {
	width:1160px;
	height:280px;
	background-color:#111;
}

.rounded-8 {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.clearfix:after,.container:after{clear:both;content:"\0020";display:block;height:0;overflow:hidden;visibility:hidden}
.clearfix,.container{display:block}
.clear{clear:both}


.twtr-hd, .twtr-ft {
	display:none;
}

.twtr-tweet-text {
	font-size:11px !important;
}

.twtr-widget .twtr-tweet {
	border-bottom:1px dotted #000 !important;
}