html, body {
	height: 100%;
}

#wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#header {
	background-color:#000;
	padding:20px;
	margin-bottom:30px;
}

#middle {
	width: 100%;
	padding: 0 0 40px;
	height: 1%;
}

#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

#container {
	width: 100%;
	float: left;
	overflow: hidden;
}

#content {
	padding: 0 0 0 200px;
}

#sideLeft {
	float: left;
	width: 180px;
	margin-left: -100%;
	position: relative;
}

#footer {
	margin: -40px auto 30px;
	min-width: 1000px;
	height: 40px;
	background: #000;
	color:#fff;
}