body {
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
}

h1 {
	font-size:24px;
}

h2 {
	font-size:20px;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px dotted #999;
}

h3 {
	font-size:16px;
	margin:20px 0 10px;
}

h4 {
	font-size:16px;
}

h5 {
	font-size:14px;
}


#menu {
	margin:0 20px;
}

#menu h6 {
	padding:2px 6px;
	color:#fff;
	background-color:#000;
}

#menu ul {
	list-style:none;
	padding:0;
	margin:0;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

#menu ul li {
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
}

#menu ul li a {
	text-decoration:none;
	display:block;
	padding:6px 12px;
}

#menu ul li a:hover {
	background-color:#f0f0f0;
}

#header h1 {
	color:#fff;
	margin:0;
	padding:20px 0;
}

table.data th {
	padding:4px 8px;
	border:1px solid #ccc;
	text-align:left;
}

table.data td {
	padding:4px 8px;
	/* border:1px solid #ccc; */
}

#searchForm {
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px dotted #999;
}

.formTable {

}

.formTable th, .formTable td {
	padding:3px;
	text-align: left;
}

#footer p {
	line-height:40px;
	text-align: center;
}

.buttonBar {
	margin:20px 0;
}

.buttonBar a {
	display:inline-block;
	margin-right:4px;
	padding:7px 18px;
	background-color:#f9f9f9;
	text-decoration: none;
	border:1px solid #ccc;
	color:#666;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.buttonBar a:hover {
	background-color:#f0f0f0;
	color:#000;
	border:1px solid #999;
}

#filter-header {
	cursor:pointer;
}

#filter-header.closed {
	color:#aaa;
}

#filter-header i {
	vertical-align: middle;
	display:inline-block;
	width:9px;
	height:12px;
	background:transparent url('/__admin/images/arrows.gif') no-repeat left center;
	margin-right:4px;
}

#filter-header.closed i {
	background:transparent url('/__admin/images/arrows.gif') no-repeat right center;
}

table.form {
	border-collapse: collapse !important;
	margin-bottom:10px;
}

table.form td {
	padding:0px 6px;
	color:#aaa;
	border-bottom:1px dotted #ddd;
	border-top:1px dotted #ddd;
}

table.form tr.activeFilter td {
	font-weight: bold;
	color:#000;
	background-color:#f6f6f6;
	padding:3px 6px;
}

table.bordered {
	background-color:#ccc;
	border-spacing: 1px !important;
	border-collapse: separate !important;
}

table.bordered td {
	padding:4px 6px !important;
	text-align:left;
	background-color:#fff;
	color:#444;
}

table.bordered th {
	background-color:#eee;
	padding:4px 20px 4px 6px;
	border:1px solid #fff !important;
	text-align:left;
}

table.data tr.odd td {
	background-color:#f6f6f6;
}

table.data th.sort-hover {
	background-color:#ccc !important;
}

table.sortable th {
	background-image: url('/__admin/images/sortable.gif');
	background-repeat: no-repeat;
	background-position: right center;
	cursor:pointer;
}

table.sortable th.sorted {
	background-color:#999;
	color:#fff;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
}

table.sortable th.sort_asc {
	background-image: url('/__admin/images/sort_asc.gif');
	background-repeat: no-repeat;
	background-position: right center;
}

table.sortable th.sort_desc {
	background-image: url('/__admin/images/sort_desc.gif');
	background-repeat: no-repeat;
	background-position: right center;
}

.pagingControls {
	background-color:#f0f0f0;
	border:1px solid #ccc !important;
	margin-top:10px;
}

.pagingControls span {
	display:inline-block;
	padding:3px 20px;
	line-height:26px;
}

table.data tbody tr.row-over td {
	background-color:rgba(230, 230, 255, 1);
	color:#000 !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
}

table.form input[type='text'] {
	width:200px;
}

input[type=text], input[type=password]  {
	border-radius:5px;
	border:1px solid #ccc;
	padding:4px;
   -webkit-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.13);
}